<a href="/">Start production</a>  |
<a href="/order">Place an Order</a>  |
<a href="/DBquery">Database query</a>  |
<a href="/addProduct">Add product to order</a>  |
<a href="/notifs">Production information</a>  |

